<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>

<div class="container mt-5">
    <% restaurants.forEach(restaurant => {  %>
        <form action="/updateResturant/<%= restaurant._id %>" method="get">
            <p><%= restaurant.name %></p>
            <button type="submit" class="btn">UPDATE</button>
        </form>
    <% }) %>
</div>

<%- include('partials/footer.ejs') %>
